html, body{
    height: 100%;
}

#main{
  width:calc(100%);
  height: 100%;
  }

#menu{
  position:absolute;
  left:-150px;
  top:0px;
  height:100%;
  width:250px;
  z-index:10;
  background-color: none;
}

#menu_btn{
  position:absolute;
  right:0px;
  width:240px;
  border-color:back;
  border-style:solid;
  border-width:1px;
  background-color: white;
  border-radius: 25px;
}

.menu_list{
  width:150px;
  position:absolute;
  top:140px;
}

.menu_list_container{
  background-color: white;
}

.color_user {

}

.color_expert{

}

.color_admin{

}

.menu_list span{
  width:100%;
  height:50px;
  background-color:white;
  display: inline-block;
  vertical-align:text-bottom;
  text-align:center;
}

.menu_list span:hover{
  background-color:gray;
}

.menu_list a{
  line-height:4em;
  text-decoration:none;
  color:black;

}

/* Map page */

#map{
  width:100%;
  height:calc(100% - 40px);
  position:absolute;
  top:0px;
  left:0px;
}

#audio_player{
  width:100px;
  height:50px;
  position:absolute;
  bottom:0px;
  background-color:white;
}

#audio_text{
  width:calc(50% - 50px);
  height:50px;
  line-height:50px;
  position:absolute;
  left:100px;
  bottom:0px;
  display: inline-block;
  background-color:white;
}

#time_text{
  position:absolute;
  bottom:0px;
  right:0px;
  height:40px;
  line-height:40px;
  text-align:center;
  width:calc(50% - 50px);
}

/* Statistic page */
.loading_div{
  z-index:1000;
  position:absolute;
  top:0px;
  left:50%;
  background: rgba(204, 204, 204, 0.5);
  text-align:center;
  vertical-align: middle;
  width:50%;
  height:30%;
}

#stats_map{
  width:50%;
  height:40%;
  position:absolute;
  top:0px;
  left:0px;
}

#stats_loading_text{
  position:absolute;
  top:40%;
  vertical-align: middle;
  font-size:20px;
  color:black;
}

#stats_area{
  position:absolute;
  height:40%;
  width:50%;
  top:35px;
  left: 50%;
}

#stats_control{
  position:absolute;
  top:0px;
  left:50%;;
  width:50%;
}

#stats_control input{
  width:100px;
  height:30px;
  font-weight:bold;
  border: 1px outset;
}

#stats_iframe{
  position:absolute;
  top:40%;
  width:100%;
  height:60%;
}

#statistic_selector{
  margin-left:50px;
  font-size:20px;
  color:black;
  text-decoration:none;
  float:left;
}
#statistic_selector:hover{
  text-decoration:underline;
}

/* extractor page */

.tr_selected{
  background-color:#b3d9ff;
}

.tr_extracted{
  background-color:#99ff99;
}


/* Listen page */

#listen_list{
  margin-top:50px;
  width:80%;
  border-style:solid;
  border-color:black;
  border-width:1px;
  text-align:center;
  font-size:14px;
}


.listen_database{
  width:300px;
}

.listen_dateselector{
  width:150px;
}

.event a {
  background-color: #42B373 !important;
  background-image :none !important;
  color: #ffffff !important;
}

.timeselector {
  width:100%;
  height:20px;
  text-align:center;
}

.timeselector span {
  width:30px;
}

.listen_timeselector{
}

.timeselector.ui-widget-content .ui-state-default {
  background: none;
  border-top-color:black;
  border-top-width:6px;
  border-bottom-color:black;
  border-bottom-width:6px;
  height:25px;
}

.dateselector{
  font-size:14px;
  height:25px;
  width:160px;
}

.source_btn{
  width:40px;
}

/* extractor page */

.select_source{
  height:100%;
  width:200px;
}

.extractor_btn_play{
  width:25px;
}

#extractor_sources{
  width:80%;
  text-align:center;
}

#extractor_extractor{
  width:100%;
  text-align:center;
}

.extractor_table{
}

.extractor_table h2{
  text-align:center;
}

.extractor_table_titles{
  font-weight:bold;
}

.extractor_table td{
  height:23px;
}

.extractor_table select{
  opacity:0.9;
}

.extractor_table input[type=text]{
  width:95%;
  opacity:0.9;
}

.class0{
  background-color: #FE9A85;
}

.class1{
  background-color: #A8D455;
}

.extractor_source_url {
  width:100%;
  height:25px;
}

.extractor_dateselector{
width:100%;
height:30px;
}

.extractor_timeselector{
width:100%;
height:30px;
text-align:center;
}

.extractor_timeselector span{
width:30px;
}

.extractor_timeselector.ui-widget-content .ui-state-default {
  background: none;
  border-top-color:black;
  border-top-width:6px;
  border-bottom-color:black;
  border-bottom-width:6px;
  height:35px;
}

.extractor_extractor_extract select:focus{
  height:100px;
}

.extractor_extractor_extract select{
  height:23px;
  width:100%;
  font-size: 18px;
}

.extractor_extractor_name{
}

.extractor_extractor_time{
}

.extractor_extractor_result{
}


.extract_list{
}

.extract_list_span{
width:100%;
}


.database_info_div{
  width: 100%;
  height: 500px
}
